@import url('https://fonts.googleapis.com/css2?family=Lato&family=Handlee&display=swap');

body {
    height: 100%;
    width: 100%;
    font-family: 'Lato', sans-serif;
}

.page-header {
    font-family: 'Lato', sans-serif;
}
.page-heading {
    font-family: 'Handlee', sans-serif;
}

.flashes h4 {
    line-height: 2;
    font-family: 'Handlee' sans-serif;
}

/* Navbar */
.brand-logo {
    font-family: 'Handlee', sans-serif;
    margin: 5px;
    padding: 5px;
}

/* Recipe Page */
.card-title {
    font-family: 'Handlee' sans-serif;
    color: black;
}



/* Profile Page */
#user-card-panel {
    background-color: #cfd8dc;
    box-shadow: none;
}

.user-title {
    font-family: 'Lato', sans-serif;
}

.modal-info {
    font-family: 'Handlee', sans-serif;
    color: #c62828;
}