{% extends "base.html" %}
{% block content %}
<h3 class="center-align page-heading">Add Recipe page</h3>


<div class="row">
    <form class="col s12" method="POST" action="">
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-signature prefix"></i>
                <input id="recipe_name" name="recipe_name" minlength="5" maxlength="50" type="text" class="validate"
                    required>
                <label for="recipe_name">Recipe Name</label>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <select id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled selected>Select</option>
                        {% for category in categories %}
                        <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endfor %}
                    </select>
                    <label for="category_name">Category</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-info prefix"></i>
                    <textarea id="recipe_description" name="recipe_description" minlength="5" maxlength="200"
                        class="materialize-textarea validate" required></textarea>
                    <label for="recipe_description">Recipe Description</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-list-ul prefix"></i>
                    <input id="ingredient_list" name="ingredient_list" type="text" class="validate" required>
                    <label for="ingredient_list">Ingredients</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-list-ol prefix"></i>
                    <input id="recipe_method" name="recipe_method" type="text" class="validate" required>
                    <label for="recipe_method">Recipe Method</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <label for="serving_size">Serving Size</label>
                    <p class="range-field">
                        <input type="range" id="serving_size" name="serving_size" min="0" max="12" required>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-stopwatch prefix"></i>
                    <input id="total_time" name="total_time" type="text" class="validate" required>
                    <label for="total_time">Total Time To Prepare</label>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}