{% extends "base.html" %}
{% block content %}
<!-- Username Profile Title -->
<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="profile-hero">
            <h3 class="profile-title user-title">
                {{ username }}'s Profile
            </h3>
        </div>
    </div>
</div>
<div class="container">

    <section id="recipe-page">
        <!-- User uploaded Recipes -->
        <div id="your-recipes">
            <div class="row">
                <h3 class="page-heading center-align">Your Recipes</h3>
            </div>
            <div class="row">
                {% if recipe|length == 0 %}
                {% for recipe in recipes %}
                <!-- Recipe User created Cards -->
                <div class="col s12 m4">
                    <div class="card card-recipes" id="profile-cards">
                        <div class="card-image">
                            <img class="materialboxed" src="/static/images/recipes/recipe-img.png" alt="Eat Well recipe default image">
                        </div>
                        <h5 class="card-title center-align"><a class="modal-trigger" href="#{{ recipe._id }}">{{
                                recipe.recipe_name }}</a></h5>
                        <div class="card-content">
                            <p>Serves: {{ recipe.serving_size }}</p>
                            <p>Total Time: {{ recipe.total_time }}</p>
                            <p><strong>{{ recipe.category_name }}</strong></p>
                            <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}"
                                class="btn-floating tooltipped halfway-fab waves-effect waves-light green left"
                                data-position="bottom" data-tooltip="Edit"><i class="fas fa-edit"></i></a>
                            <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}"
                                class="btn-floating tooltipped halfway-fab waves-effect waves-light red center"
                                data-position="bottom" data-tooltip="Delete"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                </div>
                <!-- Recipe Modals -->
                <div id="{{ recipe._id }}" class="modal">
                    <div class="modal-content">
                        <div class="row">
                            <!-- Recipe Name, Total Time and Serving Size-->
                            <div class="col s7">
                                <h4>{{ recipe.recipe_name }}</h4>
                                <p class="modal-info">Serves: {{ recipe.serving_size }} <i
                                        class="fas fa-utensils modal-info-icon"></i></p>
                                <p class="modal-info">Total Time: {{ recipe.total_time }} <i
                                        class="far fa-clock modal-info-icon"></i></p>
                                <p class="modal-info"><strong>{{ recipe.category_name }}</strong></p>
                            </div>
                            <div class="col s5">
                                <img class="materialboxed responsive-img" src="/static/images/recipes/recipe-img.png" alt="Eat Well recipe default image">
                            </div>
                        </div>
                        <div class="row">
                            <!-- Recipe Description -->
                            <div class="col s12">
                                <p class="center-align modal-description">{{ recipe.recipe_description }}</p>
                            </div>
                        </div>
                        <!-- Ingredients and Method -->
                        <div class="row">
                            <div class="col s6">
                                <h6><em>Ingredient List</em></h6>
                                <ul class="collection" id="ingredient_list">
                                    {% for ingredient in recipe.ingredient_list %}
                                    <li class="collection-item">{{ ingredient }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col s6">
                                <h6><em>Method</em></h6>
                                <ol class="collection" id="recipe_method">
                                    {% for method in recipe.recipe_method %}
                                    <li class="collection-item">{{ method }}</li>
                                    {% endfor %}
                                </ol>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 center-align">
                                <h6>EAT WELL and Enjoy this Recipe</h6>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <!-- No Recipe Created Banner -->
                <div class="row">
                    <div class="col s12 center-align">
                        <h5 class="red">No Recipes Submitted</h5>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
</div>
</section>
{% endblock %}