{% extends "base.html" %}
{% block content %}
<div class="hero-image">
</div>
<h2 class="page-heading center-align">Recipes</h2>

<section id="recipe-page">
    {% for recipe in recipes %}
    <div class="row">
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img class="materialboxed" src="/static/images/hero-image/hero-image1.jpg">
                    <span class="card-title">{{ recipe.recipe_name }}</span>
                </div>
                <div class="card-content">
                    {{ recipe.recipe_description }}<br>
                    <p>Serves: {{ recipe.serving_size }}</p>
                    <p>Total Time: {{ recipe.total_time }}</p>
                    <p><strong>{{ recipe.category_name }}</strong></p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</section>
{% endblock %}
<!--{{ recipes.ingredient_list }}<br>
{{ recipes.recipe_method }}<br>-->